.modal {
  &__window {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 10px;
    visibility: hidden;
    transition: visibility 0.8s ease 0s, background-color 0.8s ease 0s;
    pointer-events: none;
  }

  &_open {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    
    .modal__content{
      visibility: visible;
      transform: scale(1);
      opacity: 1;
      cursor: auto;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease 0s, visibility 0.3s ease 0s, opacity 0.3s ease 0s;
    background-color: #eee;
    border-radius: 15px;
  }

  &__exit {
    position: absolute;
    right: 10px;
    top: 10px;

    svg {
      fill: #53a7fc;
    }
  }
}